*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-texto: #FFFFFF;
    --cor-texto-discreto: #C0C0C0;
    --cor-botao: #167BF7;
    --cor-fundo: #00030C;
    --cor-botao-hover-1: #062c5c;
    --cor-botao-hover-2: #020e1d;
    --cor-descricao: #F9F9F9;
    --fonte-principal: 'inter';
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal), sans-serif;
    font-size:16px;
    font-weight: 400;
}

.titulo{
    color: var(--cor-texto);
    font-size: 28px;
    font-weight: 700;
}

.secundario__titulo{
    color: var(--cor-texto);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.principal{
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.container__caixa{
    margin: 0 6em;
    text-align: center;
}

.dispositivos__titulo{
    margin: 0 6em;
    text-align: center;
}

.dispositivos{
    height: 50vh;
    text-align: center;
}

.container__aviso{
    margin-top: 1.3em;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.botao{
    padding: 1em;
    display: block;
    border-radius: 8px;
    background-color: var(--cor-botao);
    text-decoration: none;
    color: var(--cor-texto);
    text-align: center;
    margin-bottom: 1em;
}

.botao__segundo{
    padding: 1em; 
    border-radius: 8px;
    border: 2px solid white;
    display: block;
    text-decoration: none;
    color: var(--cor-texto);
    text-align: center;
}

.botao:hover{
  background-color: var(--cor-botao-hover-1);
}

.botao__segundo:hover{
    background-color: var(--cor-botao-hover-2);
}

.container__aviso{
    color: var(--cor-texto-discreto);
    font-size: 12px;
  
}

.container__descricao{
    align-items: center;
}

.descricao__titulo{
    color: var(--cor-texto);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__paragrafo{
    color: var(--cor-texto-discreto);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.terciario{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.lista__item{
    font-weight: 700;
    font-size: 32px;
    color: var(--cor-texto);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    margin: 4em 0;
}

.rodape{
    text-align: center;
    margin: 0 3em 5em 0;
}

.rodape__logo{
    margin-bottom: 2em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 0 1.5em 0;
}

.lista__link a{
    color: var(--cor-texto);
    text-decoration: none;
}

.lista__link a:hover{
    color: var(--cor-botao);
}

.rodape__texto{
    color: var(--cor-texto-discreto);
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 1.5em 0;
}